.drop-down-cal {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  left: 50%;
  margin: 10px ;
  transform: translate(-50%, 0);
  background: #23272e;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.calendar-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 9px 11px;
  grid-template-areas:
    "sunday monday tuesday wednesday thursday friday saturday"
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
}
.sunday { grid-area: sunday; }
.monday { grid-area: monday; }
.tuesday { grid-area: tuesday; }
.wednesday { grid-area: wednesday; }
.thursday { grid-area: thursday; }
.friday { grid-area: friday; }
.saturday { grid-area: saturday; }

.calendar-current-date { 
  color: orangered;
  font-weight: bold;

}

.bsfillcalendarfill {
  vertical-align: bottom; 
  font-size: 15px;
}