html, body, .grid-container { height: 100%; }

body {
  margin: 0;

  background-color: #282c34;
  color: white;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.main-body {
  display: grid;
  z-index: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 3.5fr;
  gap: 0px 0px;
  height: 100vh;
  grid-template-areas:
    "header"
    "main-space";
}


.main-header *{
  padding: 2px;
  margin: 0;
}

.main-header { 
  margin: 0;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #23272e;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "activites time user";
}
.activites { grid-area: activites; }

.time { grid-area: time;}
.user {
  grid-area: user;
  text-align: end;
  margin-top: 3px;
  vertical-align: baseline;
  color: #dbdbdb73;
  display: flex;
  justify-content: right;

}

.user * { transition: color 1s;}
.main-space { grid-area: main-space; }

.header-time{
  text-align: center;
  font-weight: bolder;
  color: #dbdbdb73;
  transition: color 1s;
  user-select: none;

}

.header-time:hover { 
  color: #ffffff;
  transition: color 0.5s;
  cursor: default;
}

.user-icons:hover {
  color: #ffffff;
  transition: color 1s;
} 

.user-gear:hover{
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bluetoothwwrapper {
  margin: 0;
  padding: 0;
}

.dropdown-option{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  column-gap: 2px ;
}