.user-option {
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 1;
    margin-top: 7px;
    background: #23272e;
    overflow:hidden;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.user-option * {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 2px;
    vertical-align: middle;

}

.user-icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
      "user-box1 user-box2 user-box3";
}
.user-option-1 { grid-area: user-box1; }
.user-option-2 { grid-area: user-box2; }
.user-option-3 { grid-area: user-box3; }

.user-slider {
    -webkit-appearance: none;
    width: 97%;
    height: 0.1px;
    background: rgba(0, 0, 0, 0.575);
}

.user-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 20%;
    background: orangered;
    border: none;
    cursor: w-resize;
}

.user-value {
    color: orangered;
    clear: both;

}


.toogleswitch{
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
  
  .switch {    
    margin-left: 22px;
    padding: 0%;
    position : relative ;   
    display : inline-block;   
    width : 40px;  
    height : 20px;   
    background-color: #404653;   
    border-radius: 20px; 
    transition: all 0.3s;
  }
  
  .switch::after {  
    content: '';
    position: absolute;
    width: 20px;  
    height: 20px;  
    border-radius: 50%;  
    background-color: #ff440093;  
    left: 1px;
    transition: all 0.3s;
  }
  
  .checkbox:checked + .switch::after { 
    left : 20px;
    background-color: orangered;  
  }
    
  .checkbox { 
    display: none;
    visibility: hidden;
  }
  
  .loading-animation{
    color:orangered;
    animation-name: ckw;
    animation-duration: 3s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
    left:50%;
  }
  
  @keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }