.header-container {
    display: grid;
    width: 100%;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "activities time user";
    background-color: #22262e;
  }

.header-container *{
  margin: 0;
  padding: 2px;

}
.activities { grid-area: activities; }

.time {
  grid-area: time;
  justify-self: center;
  
}

.user { grid-area: user; }


.display-time {
  background-color: inherit;
  color: white;
  border: 0;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.calendar-style {
  width: 280px;
  align-self: center;
  position: fixed;
  top: 2.3rem;
  border-radius: 10px;
  background-color: #22262e ;
  line-height: 1em;
}

.calendar-style button {
  background-color: inherit;
  color: white;
  border: inherit;
}

.calendar-style__navigation button {
  min-width: 40px;
}

.calendar-style__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: #191c22;
  border-radius: 10%;
  cursor: pointer;
}

